<div class="footer" id="footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-1  col-md-1 col-sm-12 col-xs-12 main-logo">
            <img src="assets/img/clinic-logo-template_1057-389.png" width="100%" height="auto">
          </div>
          <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12">
              <h3> Private Clinic </h3>
              <ul>
                  <li> <a routerLink="/service" routerLinkActive="active"> Services </a> </li>
                  <li> <a > Areas </a> </li>
                  <li> <a routerLink="/location" routerLinkActive="active"> Locations </a> </li>
                  <li> <a routerLink="/doctor" routerLinkActive="active"> Doctors </a> </li>
              </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12">
              <h3> Who We Are </h3>
              <ul>
                  <li> <a routerLink="/mission" routerLinkActive="active"> Mission </a> </li>
                  <li> <a routerLink="/history" routerLinkActive="active"> History </a> </li>
              </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12">
              <h3> News </h3>
              <ul>
                  <li> <a> Latest News </a> </li>
                  <li> <a> Press </a> </li>
                  <li> <a> Events </a> </li>
              </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12">
              <h3> Help </h3>
              <ul>
                  <li> <a> Practical Info </a> </li>
                  <li> <a routerLink="/reservation" routerLinkActive="active"> Reservation </a> </li>
                  <li> <a> F.A.Q. </a> </li>
                  <li> <a> Request of info </a> </li>
              </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-12 col-xs-12 social-logos">
                <div class="logo col-md-4"><img src="assets/img/facebook.png" width="100%" height="auto"></div>
                <div class="logo col-md-4"><img src="assets/img/twitter.png" width="100%" height="auto"></div>
                <div class="logo col-md-4"><img src="assets/img/google-plus.png" width="100%" height="auto"></div>
          </div>
      </div>
      <div class="container-fluid row">
        <div class="copyright col-lg-12  col-md-12 col-sm-12 col-xs-12"><p>Company Registration in Italy. Registered address: via Francesco Denti 2, 20100 Milan, Italy. © 2016 Clinic </p></div>
      </div>
    <!--/.row-->
    </div>
    <!--/.container-->
</div>
