<div id=coloredbar>
  <h2 class="text-center">{{location?.address}}</h2>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <img src="assets/img/location-background.png" class="background-image"/>
    <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12" id="img">
      <img *ngIf="location" src="assets/img/{{location?.imageSrc}}" height="auto" width="100%">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2  col-md-2 col-sm-12 col-xs-12 offset-lg-2 offset-md-2 left-container text-center">
      <p>
        <b>OPENING TIMES<br>
          <span *ngFor="let opening_time of opening_times">
            {{opening_time?.weekday}} {{opening_time?.start_time}}-{{opening_time?.end_time}}<br>
          </span>
        </b>
      </p>
    </div>
    <div [innerHTML]="location?.description" class="col-lg-6  col-md-6 col-sm-12 col-xs-12 second-container">
    </div>
    <div class="col-lg-2  col-md-2 col-sm-12 col-xs-12">
      <div class="btn-group-vertical" role="group">

        <a class="btn btn-default didascalia" routerLink="/service/location/{{location?.id}}" routerLinkActive="active">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Available <br>services</div></div>
        </a>

        <a class="btn btn-default didascalia">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Other <br>Locations</div></div>
        </a>

      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-2  col-md-2 col-sm-12 col-xs-12 left-container text-center">
      <p><b>Contact:</b><br>
        E-mail: {{location?.email}}<br>
        Phone: {{location?.phone}}<br>
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 second-container maps">
      <iframe *ngIf="url" frameborder="0" class="maps-frame" style="border:0" [src]="url | safe" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
