#coloredbar{
	position: relative;
	background-color: #0f5880 ;
	height: 80px;
  z-index: 0px;
}

.background-image{
  width: 100%;
	height: 100%;
	opacity: 0.3;
  position: absolute;
	margin-bottom: -100%;
	z-index: 0;
}

#img{
	padding: 0;
}

.text-center{
  margin-top: 0px;
  color: white;
}

.btn-default{
  background-color: #0f5880;
	border-radius: 0;
	text-align: center;
  color: white !important;
  opacity: 0.9;
  height: auto;
}

.btn-group-vertical{
	margin-top: 5%;
	margin-bottom: 5%;
  width: 100%;
}

.second-container{
  background-color:white;
  border: none;
	padding: 5%;
  opacity: 0.75;
}

.left-container{
	background-color: #4580a0;
  border: none;
	padding: 1%;
}

.row{
  margin-top: 10px;
  margin-bottom: 10px
}

p{
  text-align: center;
	margin: 0;
}

.maps {
	height: 300px;
	padding: 0;
}

.maps-frame {
	width: 100%;
	height: 100%
}

agm-map {
	height: 300px;
}
