#coloredbar{
	position: relative;
	background-color: #0f5880 ;
	height: 80px;
  z-index: 0px;
}

.text-center{
  margin-top: 0px;
  color: white;
}
.title{
	text-align: center;
}

.form-container {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

label{
  color: #0f5880 ;
}

.form-check-label{
  color: black;
}

.btn {
	cursor: pointer;
	color: white !important;
}
