<div id=coloredbar>
  <h2 class="text-center">Make a Reservation</h2>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="!submitted" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-container">
      <form #reservationForm="ngForm" name="reservation-form" (ngSubmit)="sendEmail()">
        <h3 class="title">Your Personal details</h3>
        <br><br>

        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" [(ngModel)]="reservation.name" class="form-control" placeholder="Enter Name" id="name" name="name" required #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">
                First Name is required
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="surname">Last Name</label>
          <input type="text" [(ngModel)]="reservation.surname" class="form-control" placeholder="Enter Last Name" id="surname" name="surname" required #surname="ngModel">
          <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
              <div [hidden]="!surname.errors.required">
                Last Name is required
              </div>
          </div>
        </div>

        <div class="form-group">
          <label>Gender</label><br />
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="female">
              <input class="form-check-input" type="radio" [(ngModel)]="reservation.gender" name="female" id="female" value="female" required >
            Female
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="male">
              <input class="form-check-input" type="radio" [(ngModel)]="reservation.gender" name="male" id="male" value="male" required>
            Male
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="birthdate">Date of Birth</label>
          <input type="date" [(ngModel)]="reservation.birthdate" class="form-control" placeholder="yyyy-mm-dd" id="birthdate" name="birthdate" required #birthdate="ngModel">
          <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="alert alert-danger">
              <div [hidden]="!birthdate.errors.required">
                Date of Birth is required
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="id_card">Id Card Number</label>
          <input type="text" [(ngModel)]="reservation.id_card" class="form-control" placeholder="Enter Id Card number" id="id_card" name="id_card" required #card="ngModel">
          <div *ngIf="card.invalid && (card.dirty || card.touched)" class="alert alert-danger">
              <div [hidden]="!card.errors.required">
                Id Card Number is required
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" [(ngModel)]="reservation.email"class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email" name="email" required #email="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div [hidden]="!email.errors.required">
                Email is required
              </div>
              <div [hidden]="!email.errors.pattern">
                Email is invalid
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" [(ngModel)]="reservation.phone" class="form-control" placeholder="1-(555)-555-5555" id="phone" name="phone" required #phone="ngModel">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <div [hidden]="!phone.errors.required">
                Phone Number is required
              </div>
          </div>
        </div>

        <br>
        <h3 class="title">Reservation</h3>
        <br>

        <div class="form-group">
          <label for="location">Location</label>
          <select class="form-control" [(ngModel)]="reservation.location" id="location" name="location">
            <option [value]="location.id" *ngFor="let location of locations">{{location.address}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="area">Area</label>
          <select class="form-control" [(ngModel)]="reservation.area" (change)="setService($event.target.value)" id="area" name="area">
            <option [value]="area.id" *ngFor="let area of areas">{{area.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="service">Service</label>
          <select class="form-control" [(ngModel)]="reservation.service" id="service" name="service">
            <option [value]="service.id" *ngFor="let service of services">{{service.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea [(ngModel)]="reservation.comment" class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="terms">
            <input type="checkbox" [(ngModel)]="reservation.tems" class="form-check-input" id="terms" name="terms" required>
            I've read the Terms and Conditions
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!reservationForm.form.valid">Submit</button>
      </form>

    </div>
    <div *ngIf="submitted" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-container">
      <h3>The email has been sent.</h3><br />
      Check your mailbox and in a couple of minutes it will be there.<br /><br />
      <a class="btn btn-primary" (click)="refresh()" routerLinkActive="active">Go to Reservation</a>
    </div>
  </div>
</div>
