nav  {
	background-color: #0f5880;
	padding-bottom: 20px;
}

a.nav-link{
	color: white;
}

.nav-link:hover{
	color:  #00cc99;
}

a.dropdown-item{
	color: #0f5880;
}

a.dropdown-item.active:hover{
	background-color: transparent;
	color: #00cc99;
}

a.dropdown-item:hover{
	background-color: transparent;
	color: #00cc99;
}

a.dropdown-item.active{
	background-color: transparent;
	color: #00cc99;
}

a.dropdown-item:active{
	background-color: transparent;
	color: #00cc99;
}

.icon-bar{
	background-color: white;
}

.show > a{
	color:  #00cc99;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.group-link-arrow-single {
	display: inline-block;
	-webkit-transform: scale(1,2);
	-moz-transform: scale(1,2);
	-ms-transform: scale(1,2);
	-o-transform: scale(1,2);
	transform: scale(1,2);
}

.go-back {
	position: absolute;
	top: 95px;
	left: 130px;
	color: white !important;
	border-color: white !important;
	background-color: #0f5880 !important;
	cursor: pointer;
}

.go-back:hover {
	border-color: white;
	color: #292b2c !important;
	background-color: white !important;
}

@media screen and (max-width: 900px) {
  #prova {
		display: block;
	}
}
