<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <div class="icon">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </button>

    <a class="navbar-brand" href="#">
      <img src="assets/img/clinic-logo-template_1057-389.png" width="auto" height="100" alt="" routerLink=""/>
    </a>
    <div class="hidden-md-down">
      <ul class="navbar-nav ">
       <li class="nav-item">
         <a class="nav-link" routerLink="" routerLinkActive="active">Home</a></li>

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link" href dropdownToggle (click)="false">Services</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/service" routerLinkActive="active">All Services</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item">Service by Area</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link" href dropdownToggle (click)="false">Areas</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item">All Areas</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item">Areas by Location</a></li>
          </ul>
        </li>

       <li class="nav-item">
         <a class="nav-link" routerLink="/location" routerLinkActive="active">Locations</a>
       </li>

       <li class="nav-item dropdown" dropdown>
         <a class="nav-link" href dropdownToggle (click)="false">Doctors</a>
         <ul *dropdownMenu class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="/doctor" routerLinkActive="active">All Doctors</a></li>
           <div class="dropdown-divider"></div>
           <li><a class="dropdown-item">Doctors by Service</a></li>
           <li><a class="dropdown-item">Doctors by Area</a></li>
           <li><a class="dropdown-item" routerLink="/doctor/location" routerLinkActive="active">Doctors by Location</a></li>
         </ul>
       </li>

       <li class="nav-item dropdown" dropdown>
         <a class="nav-link" href dropdownToggle (click)="false">Who We Are</a>
         <ul *dropdownMenu class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="/history" routerLinkActive="active">History</a></li>
           <li><a class="dropdown-item" routerLink="/mission" routerLinkActive="active">Mission</a></li>
         </ul>
       </li>

      <li class="nav-item">
        <a class="nav-link">News</a></li>
      <li class="nav-item">
        <a class="nav-link">Practical Info</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservation" routerLinkActive="active">Reservation</a></li>
      <li class="nav-item">
        <a class="nav-link">FAQ</a></li>
      <li class="nav-item">
        <a class="nav-link">Request of Info</a></li>
    </ul>

  </div>

  <div [collapse]="isCollapsed" class="hidden-lg-up">
    <ul class="navbar-nav ">
     <li class="nav-item">
       <a class="nav-link" routerLink="" routerLinkActive="active">Home</a></li>

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link" href dropdownToggle (click)="false">Services</a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/service" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">All Services</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item">Service by Area</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link" href dropdownToggle (click)="false">Areas</a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item">All Areas</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item">Areas by Location</a></li>
        </ul>
      </li>

     <li class="nav-item">
       <a class="nav-link" routerLink="/location" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Locations</a>
     </li>

     <li class="nav-item dropdown" dropdown>
       <a class="nav-link" href dropdownToggle (click)="false">Doctors</a>
       <ul *dropdownMenu class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="/doctor" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">All Doctors</a></li>
         <div class="dropdown-divider"></div>
         <li><a class="dropdown-item">Doctors by Service</a></li>
         <li><a class="dropdown-item">Doctors by Area</a></li>
         <li><a class="dropdown-item" routerLink="/doctor/location" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Doctors by Location</a></li>
       </ul>
     </li>

     <li class="nav-item dropdown" dropdown>
       <a class="nav-link" href dropdownToggle (click)="false">Who We Are</a>
       <ul *dropdownMenu class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="/history" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">History</a></li>
         <li><a class="dropdown-item" routerLink="/mission" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Mission</a></li>
       </ul>
     </li>

    <li class="nav-item">
      <a class="nav-link">News</a></li>
    <li class="nav-item">
      <a class="nav-link">Practical Info</a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reservation" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Reservation</a></li>
    <li class="nav-item">
      <a class="nav-link">FAQ</a></li>
    <li class="nav-item">
      <a class="nav-link">Request of Info</a></li>
  </ul>

</div>
    <a *ngIf="back" class="btn btn-primary go-back hidden-md-down" (click)="goBack()"> Go Back</a>

</nav>
