<div id=coloredbar>
  <h2 class="text-center">Doc. {{doctor?.surname}} {{doctor?.name}}</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <a class="btn btn-primary col-12" (click)="removeFocus($event)" *ngIf="previousDoctor" [routerLink]="[url, previousDoctor?.id]">
          <span class="group-link-arrow-single"><</span>
          <span class="group-link">Previous doctor</span>
          <span *ngIf="location_id" class="group-link second-line">in {{location_address}} </span>
          <span *ngIf="service_id" class="group-link second-line">in {{service.name}} </span>
        </a>
      </div>

    </div>

    <div class="col-6">
      <div class="row">
        <a class="btn btn-primary col-12" (click)="removeFocus($event)" *ngIf="nextDoctor" [routerLink]="[url, nextDoctor?.id]">
          <span class="group-link">Next doctor</span>
          <span class="group-link-arrow"></span>
          <span *ngIf="location_id" class="group-link second-line">in {{location_address}} </span>
          <span *ngIf="service_id" class="group-link second-line">in {{service?.name}} </span>
          <span class="group-link-arrow-single">></span>
        </a>
      </div>

    </div>

  </div>

  <div class="row justify-content-center">

    <img src="assets/img/all-doctors-background.png" class="background-image"/>

    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" id="img">
      <img *ngIf="doctor" src="assets/img/{{doctor?.imageSrc}}" height="auto" width="100%">
    </div>

    <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12" id="details">
      <p><strong>Academic degree:</strong></p>
      <p> {{doctor?.degree}} degree </p>
      <p> <strong> Qualification: </strong> {{doctor?.degree}} </p>
    </div>

  </div>

  <div class="container-fluid">

<div class="row">

  <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
    <div class="btn-group-vertical" role="group">

      <a class="btn btn-default" routerLink="{{url}}/{{doctor?.id}}/profile" routerLinkActive="active">
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Profile</div></div>
      </a>

      <a class="btn btn-default" routerLink="{{url}}/{{doctor?.id}}/treatments" routerLinkActive="active">
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Treatments</div></div>
      </a>

      <a class="btn btn-default" routerLink="{{url}}/{{doctor?.id}}/curriculum" routerLinkActive="active">
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Curriculum Vitae</div></div>
      </a>

    </div>
  </div>

  <div class="col-lg-8  col-md-6 col-sm-12 col-xs-12 second-container"><router-outlet></router-outlet></div>

  <div class="col-lg-2  col-md-3 col-sm-12 col-xs-12">
    <div class="btn-group-vertical" role="group">
      <a class="btn btn-default" routerLink="/service/{{doctor?.service}}" routerLinkActive="active">
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Doctor's <br>service</div></div>
      </a>

      <a class="btn btn-default" *ngIf="doctor?.responsibleOfArea != 0" >
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Area of <br>responsibility</div></div>
      </a>

      <a class="btn btn-default" *ngIf="doctor?.responsibleOfService != 0" routerLink="/service/{{doctor?.responsibleOfService}}" routerLinkActive="active">
        <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Service <br>responsibility by</div></div>
      </a>

    </div>

      <div class="btn-group-vertical first-container" role="group">
        <a class="btn btn-default">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Doctors of the <br>same service</div></div>
        </a>

        <a class="btn btn-default">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Doctors of the <br>same area</div></div>
        </a>

        <a class="btn btn-default">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Doctors of the <br>same location</div></div>
        </a>

      </div>
    </div>

  </div>
</div>
