#coloredbar{
	position: relative;
	background-color: #0f5880;
	height: 80px;
  z-index: 0px;
}

.background-image{
  width: 100%;
	height: 100%;
	opacity: 0.2;
  position: absolute;
	margin-bottom: -100%;
	z-index: 0;
	overflow: hidden;
}

.text-center{
  margin-top: 0px;
  color: white;
}

#img{
	padding-left: 0;
	padding-top: 2%;
	padding-right: 0;
	padding-bottom: 2%;
	display: block;
}

#details{
	padding: 5%;
}

.first-container{
  padding-top: 1%;
}

.second-container{
	background-color: white;
  border: none;
	padding: 5%;
  opacity: 0.75;
	margin-bottom: 1%;
}

.btn-default{
	background-color: #0f5880;
	border-radius: 0;
	text-align: center;
  color: white !important;
  opacity: 0.9;
  height: auto;
}

.btn-group{
	padding: 0;
}

.btn-group-vertical{
  width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.group-link-arrow-single {
	display: inline-block;
	-webkit-transform: scale(1,2);
	-moz-transform: scale(1,2);
	-ms-transform: scale(1,2);
	-o-transform: scale(1,2);
	transform: scale(1,2);
	padding-bottom: 5px;
}

.btn-primary {
	padding-left: 0;
	padding-right: 0;
	color: #0f5880;
	background-color: white;
	border: none;
	border-radius: 0;
	outline: none;
}

.btn-primary:hover {
	color: white;
	background-color: #0f5880;
	border-style: solid;
	border: none;
	outline: none;
}

.btn-primary:focus{
	outline: none;
	box-shadow: none;
	color: #0f5880;
	background-color: white;
	border: none;
	border-radius: 0;
}
