#coloredbar{
	position: relative;
	background-color: #0f5880 ;
	height: 80px;
  z-index: 0px;
}

.background-image{
	width: 100%;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	margin-bottom: -100%;
	z-index: 0;
}

.text-center{
  margin-top: 0px;
  color: white;
}

.btn-default{
  background-color: #0f5880;
	border-radius: 0;
  color: white !important;
  opacity: 0.75;
  height: 50px;
}

.btn-group-vertical{
  width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.second-container{
  background-color: white;
  border: none;
	padding: 5%;
  opacity: 0.75;
	margin-top: 1%;
	margin-bottom: 1%;
}
