<div id=coloredbar>
  <h2 class="text-center">History</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <img src="assets/img/background-who-we-are.png" class="background-image"/>
    <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
      <div class="btn-group-vertical" role="group">
        <a class="btn btn-default" routerLink="/mission" routerLinkActive="active">Mission</a>
        <a class="btn btn-default">History</a>
      </div>
    </div>
    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 second-container">
      Private Clinic grew out of the surgical practice of Frank J. Weed, MD, at 16 Church Street on the near west side
      of Cleveland. Weed died in 1891. The practice was purchased by his two assistants, Frank E. Bunts, MD,
      and George Washington Crile, MD. In 1892, they brought Crile’s cousin, William E. Lower, MD, into the practice.
      In 1897, they moved their practice to the Osborn Building on Prospect Avenue in downtown Cleveland.
      Crile, Lower and Bunts all became professors at Cleveland medical schools, and each would be elected president
      of the Academy of Medicine.<br><br>

      Crile organized the American military hospital in Paris in 1915, and later led the United States Army Base Hospital No. 4,
      in Rouen, France. It was the first contingent of the United States Army to see active duty in Europe during the First World
      War. Bunts and Lower also served in the Rouen hospital. Lower later wrote of his admiration for the "teamwork and efficient
      organization" of military medicine. In his autobiography, Crile reports that while in France, the three doctors discussed
      starting a new medical center in Cleveland upon their return.<br><br>

      <b>First years of operation</b><br>
      A four-story outpatient building was constructed on the purchased land. Cleveland Clinic was dedicated at a private ceremony
      on February 26, 1921. William Benson Mayo, MD, of the Mayo Clinic, delivered the main address. On February 28,
      1921, Cleveland Clinic opened its doors to the public and registered 42 patients. In April 1921, Cleveland Clinic had 60
      employees, including 14 physicians, four nurses, a telephone operator, six cleaners, 22 clerical workers, an art department,
      and an unknown number of laboratory technicians. In 1922, the founders purchased four private homes nearby for hospitalization,
      radiation treatment, and administration. A fifth house was acquired as a residence for patients with diabetes receiving
      insulin treatments. To meet rising patient volume, a 184-bed hospital was built in 1924, located at East 90th Street
      and Carnegie Avenue. A power plant, laundry, and ice plant were also built. A research laboratory was constructed in 1928.
      <br><br>

      <b>Disaster and recovery</b><br>
      On May 15, 1929, nitrocellulose x-ray films stored in the basement of the outpatient building ignited. An explosion sent a
      cloud of toxic oxides of nitrogen and carbon though the building. One hundred and twenty-three people lost their lives,
       including founder Phillips. A dozen investigating agencies were not able to determine a single cause for the Cleveland
       Clinic fire of 1929. Cleveland Clinic’s own inquiry narrowed the possible causes down to three: spontaneous combustion
      caused by heat; a discarded cigarette or match; contact with an extension cord light hung over a stack of films.<br><br>

      Philanthropist Samuel Mather formed a committee of 36 community leaders to help Cleveland Clinic reestablish itself in
      temporary quarters across the street.Patient care services resumed five days later.[20] The 1921 building was
      completely renovated, and a new three story clinic building, with a new main entrance, was added in 1931. All debts were
      repaid by 1941.
   </div>
  </div>
</div>
