<div id=coloredbar>
  <h2 class="text-center">Mission</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <img src="assets/img/background-who-we-are.png" class="background-image"/>
    <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
      <div class="btn-group-vertical" role="group">
        <a class="btn btn-default">Mission</a>
        <a class="btn btn-default" routerLink="/history" routerLinkActive="active">History</a>
      </div>
    </div>
    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 second-container">
        The <b>mission</b> of Clinic is to provide better care of the sick, investigation into their problems, and further education
  of those who serve.<br><br>
  The <b>vision</b> of Clinic: Striving to be the world's leader in patient experience, clinical outcomes, research and
  education.<br>
  When Clinic welcomed its first patients on February 28, 1921, its mission was clearly in place: "Better care of the
  sick, investigation into their problems and further education of those who serve."<br>
  The doctors who founded Clinic, drawing from military medicine, believed in diverse specialists working and
  thinking as a unit. This kind of cooperation, efficiency and shared vision has fostered excellence in patient care,
  research and education. These principles endure today at Clinic, a nonprofit group practice.<br><br>
  Clinic was established by visionary leaders who believed in simple, guiding principles. Six fundamental <b>values</b>
  form the foundation of the Cleveland Clinic's culture:<br>
  -<b>Quality</b>. We maintain the highest standards and achieve them by continually measuring and improving our
  outcomes.<br>
  -<b>Innovation</b>. We welcome change, encourage invention and continually seek better, more efficient ways to
  achieve our goals.<br>
  -<b>Teamwork</b>. We collaborate and share knowledge to benefit patients and fellow caregivers for the advancement of
  our mission.<br>
  -<b>Service</b>. We strive to exceed our patients?and/or fellow caregivers?expectations for comfort and convenience.<br>
  -<b>Integrity</b>. We adhere to high moral principles and professional standards by a commitment to honesty,
  confidentiality, trust, respect and transparency.<br>
  -<b>Compassion</b>. We demonstrate our commitment to world-class care by providing a caring and supportive
  environment for our patients, patients?families and fellow caregivers.<br>
    </div>
  </div>
</div>
