
.second-container{
  padding: 1%;
  display: block;
}

.third-container{
  padding: 0%;
}

#coloredbar{
	position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
	background-color: #0f5880 ;
	height: 80px;
}



.didascalia{
  padding-top: 1% !important;
  border-radius: 0;
  position: absolute;
  background-color: #0f5880;
  opacity: 0.75;
  text-align: center;
  height: 20%;
  width:  100%;
  font-size: x-small;
  color: white;
  margin: 0;
  padding: 0;
  border:0;
  bottom:0;
  left: 0;
	z-index: 200;
}

.on-side {
  width:30%;
  left: auto;
  right: 0;
}

.on-side-0 {
  bottom: 0;
}

.on-side-1 {
  bottom: 20%;
}

.on-side-2 {
  bottom: 40%;
}

.on-side-3 {
  bottom: 60%;
}

.on-side-4 {
  bottom: 80%;
}

.didascalia:hover{
  color: #02b66e;
}

.btn {
  color: white !important;
}
