<div class="container-fluid">
  <div class="row">
    <div id=coloredbar></div>
    <div class="col-lg-7  col-md-7 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
      <img src="assets/img/home-picture.jpg"  height="auto%" width="100%">
      </div>
    </div>
    <div class="col-lg-5  col-md-5 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/location-home.jpg" height="auto%" width="100%">
        <a class="btn didascalia" routerLink="/location/2">CLINIC NEAREST TO YOU</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7  col-md-7 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/main-services.jpg" height="auto" width="100%">
        <a *ngFor="let service of services; let i = index" class="btn didascalia on-side on-side-{{i}}" routerLink="/service/{{service.id}}" routerLinkActive="active" [innerHTML]="service?.nameBr.toUpperCase()">
        </a>
        
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/cardiology-home.jpg" height="auto" width="100%">
        <a class="btn didascalia">CARDIOLOGY</a>
        <a class="btn didascalia on-side on-side-1">DESCRIPTION</a>
        <a class="btn didascalia on-side on-side-2">TREATMENT</a>
        <a class="btn didascalia on-side on-side-3">DISEASES</a>
        <a class="btn didascalia on-side on-side-4">DOCTORS</a>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/oncology-home.jpg" height="auto" width="100%">
        <a class="btn didascalia">ONCOLOGY</a>
        <a class="btn didascalia on-side on-side-1">DESCRIPTION</a>
        <a class="btn didascalia on-side on-side-2">TREATMENT</a>
        <a class="btn didascalia on-side on-side-3">DISEASES</a>
        <a class="btn didascalia on-side on-side-4">DOCTORS</a>
      </div>
    </div>
  </div>
</div>
