#coloredbar{
	position: relative;
	background-color: #0f5880 ;
	height: 80px;
  z-index: 0px;
}


.background-image{
  width: 100%;
	height: 100%;
	opacity: 0.2;
  position:absolute;
	margin-bottom: -100%;
	z-index: 0;
	overflow: hidden;
}

.text-center{
	color: white;
	top: 0;
}

img{
	border: 2px white solid;
}

.second-container{
	padding: 2%;
}

.third-container{
  padding: 0%;
}

.didascalia{
  position: absolute;
  background-color: #0f5880;
  opacity: 0.9;
	color: white;
  text-align: center;
  height: 15%;
	border-radius: 0;
  width:  100%;
  color: white;
  margin: 0;
  border:0;
  bottom:0;
	left: 0;
	z-index: 200;
}

a.btn:hover{
     color: #00ff99;
}
