<div id=coloredbar>
  <h2 class="text-center">All Doctors
    <span *ngIf="doctorsByService">in {{service?.name}}</span>
    <span *ngIf="location">of {{location.address}}</span>
  </h2>
</div>

<div class="container-fluid">

  <div *ngIf="!location" class="row first-container justify-content-center" >
    <img src="assets/img/all-doctors-background.png" class="background-image"/>
      <div *ngFor="let doctor of doctors" class="col-lg-3  col-md-3 col-sm-6 col-xs-6 second-container">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
          <img src="assets/img/{{doctor.imageSrc}}" height="auto%" width="100%">
          <a class="btn didascalia" routerLink="/doctor/all/{{doctor.id}}" routerLinkActive="active">{{doctor.surname}} {{doctor.name}}</a>
        </div>
      </div>
  </div>

  <div *ngIf="location" class="row first-container justify-content-center" >
    <img src="assets/img/all-doctors-background.png" class="background-image"/>
      <div *ngFor="let doctor of doctors" class="col-lg-3  col-md-3 col-sm-6 col-xs-6 second-container">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
          <img src="assets/img/{{doctor.imageSrc}}" height="auto%" width="100%">
          <a class="btn didascalia" routerLink="/doctor/location/{{location.id}}/{{doctor.id}}" routerLinkActive="active">{{doctor.surname}} {{doctor.name}}</a>
        </div>
      </div>
  </div>

  <div *ngIf="doctorsByService" class="row first-container">
    <div *ngFor="let doctor of doctorsByService" class="col-lg-4  col-md-4 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/{{doctor.imageSrc}}" height="auto%" width="100%">
        <a class="btn didascalia" routerLink="/doctor/service/{{service?.id}}/{{doctor.id}}" routerLinkActive="active">{{doctor?.surname}} {{doctor?.name}}</a>
      </div>
    </div>
  </div>

</div>
