<div id=coloredbar>
  <h2 class="text-center">All Services
    <span *ngIf="idLocation">in {{location?.address}} </span>
  </h2>
</div>
<div class="container-fluid">

  <div *ngIf="services" class="row first-container justify-content-center" >
    <img src="assets/img/all-services-background.png" class="background-image"/>

    <div *ngFor="let service of services" class="col-lg-3  col-md-3 col-sm-6 col-xs-6 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/{{service.imageSrc}}" height="auto" width="100%">
        <a class="btn didascalia" routerLink="/service/{{service.id}}" routerLinkActive="active">{{service.name}}</a>
      </div>
    </div>

  </div>

  <div *ngIf="servicesByLocation" class="row first-container justify-content-center" >
    <img src="assets/img/all-services-background.png" class="background-image"/>

    <div *ngFor="let service of servicesByLocation" class="col-lg-3  col-md-3 col-sm-6 col-xs-6 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/{{service.imageSrc}}" height="auto" width="100%">
        <a class="btn didascalia" routerLink="/service/{{service.id}}" routerLinkActive="active">{{service.name}}</a>
      </div>
    </div>

  </div>

</div>
