<div id=coloredbar>
  <h2 class="text-center">{{service?.name}}</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <img src="assets/img/all-services-background.png" class="background-image"/>
    <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12 first-container">
      <img *ngIf="service" src="assets/img/{{service?.imageSrc}}" height="auto" width="100%">
    </div>
    <div [innerHTML]="service?.description" class="col-lg-6  col-md-6 col-sm-12 col-xs-12 second-container">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="btn-group-vertical" role="group">

        <a class="btn btn-default" routerLink="/location/service/{{service?.id}}" routerLinkActive="active">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Where?</div></div>
        </a>

        <a class="btn btn-default">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Area of service</div></div>
        </a>

        <a class="btn btn-default" routerLink="/doctor/{{service?.responsibleOfService}}" routerLinkActive="active">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Service<br> responsible</div></div>
        </a>

        <a class="btn btn-default" routerLink="/doctor/service/{{service?.id}}" routerLinkActive="active">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Doctors in<br> the service</div></div>
        </a>

      </div>

      <div class="btn-group-vertical" role="group">
        <a class="btn btn-default">
          <div><div [fittext]="true" [activateOnResize]="true" [useMaxFontSize]="true">Services <br>of same area</div></div>
        </a>
      </div>

    </div>
  </div>
</div>
