<div id=coloredbar>
  <h2 class="text-center">Locations
    <span *ngIf="doctor"> of the doctors</span>
    <span *ngIf="service"> for {{service.name}}</span>
  </h2>
</div>
<div class="container-fluid">

  <div *ngIf="locationsByService" class="row first-container">
    <div *ngFor="let location of locationsByService" class="col-lg-4  col-md-4 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/{{location.imageSrc}}" height="auto%" width="100%">
        <a class="btn didascalia" [routerLink]="['/location', location?.id]">{{location?.address}}</a>
      </div>
    </div>
  </div>

  <div *ngIf="locations" class="row first-container">
    <div *ngFor="let location of locations" class="col-lg-4  col-md-4 col-sm-12 col-xs-12 second-container">
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 third-container">
        <img src="assets/img/{{location.imageSrc}}" height="auto%" width="100%">
        <a class="btn didascalia" [routerLink]="[url, location?.id]">{{location?.address}}</a>
      </div>
    </div>
  </div>

</div>
