#coloredbar{
	position: relative;
	background-color: #0f5880 ;
	height: 80px;
  z-index: 0px;
}

.text-center{
  margin-top: 0px;
  color: white;
}

img{
	border: 2px white solid;
}

.second-container{
  padding: 1%;
}

.third-container{
  padding: 0%;
}

.didascalia{
  position: absolute;
  background-color: #0f5880;
  opacity: 0.9;
  text-align: center;
  height: 20%;
  width:  100%;
  color: white !important;
  margin: 0;
  border:0;
	border-radius: 0;
  bottom:0;
	left: 0;
	z-index: 200;
}

a:hover{
     color: #00ff99;
}
